<div
  class="flex flex-wrap gap-2 items-center select-none {% if noWrap == true %} !flex-nowrap flex-col !items-start {% endif  %}"
  data-bundlepricehtml
>
  <div class="bundleprice">
    {% if totalCompare > totalPrice %}
      <span class="flex gap-x-2 font-semibold ">
        <span class="line-through opacity-60">
          {{- totalCompare | money -}}
        </span>
        <span>{{ totalPrice | money }}</span>
      </span>

    {% else %}
      <span class="font-semibold">{{ totalPrice | money }}</span>
    {% endif %}
  </div>

  <span
    style="display:none"
    class="bundlesavings inline-flex {% if hideSavingsMob != true %}flex-row-reverse{% endif %} items-center gap-1 whitespace-nowrap ui-pill ui-pill--bg-blue ui-shimmer before:animate-[shimmer_1s_linear_both]"
  >
    {% if hideSavingsMob == true %}
      <span>Bundle <span class="max-sm:hidden">Savings</span></span>
    {% else -%}
      Bundle Savings
    {%- endif %}
    {% if showPerc != false -%}
      {%- if bundleDiscount > 0 %}
        {{ bundleDiscount }}% Off
      {% endif %}
    {% endif %}
  </span>
</div>
