{% if totalCompare != balnk and totalPrice != blank %}
  <span class="bundlesavings inline-flex p-1 text-[11px] font-semibold tracking-[.5px] bg-secondary-blue-600/10">
  {% assign totalCompareMoney = totalCompare | money_without_currency %}
    {% assign totalPriceMonry = totalPrice | money_without_currency %}

    {% assign priceDiff = totalCompareMoney | minus: totalPriceMonry %}
    {% assign myDis = priceDiff | divided_by: totalCompareMoney | times: 100 | round: 0 %}

    {%- if totalCompare > totalPrice %}
      {{ section.settings.bundle-discount-template | replace: '*discount*', myDis }}
    {% endif %}
</span>
{% endif %}
