<div
  class="flex flex-wrap gap-2 items-center select-none {% if noWrap == true %} !flex-nowrap flex-col !items-start {% endif  %}"
  data-bundlepricehtml
>
  <div class="bundleprice">
    {% if totalCompare > totalPrice %}
      <div class="flex gap-x-2 font-normal items-center">
        <span>{{ totalPrice | money }}</span>
        <span class="line-through text-xs tracking-[.4px]">
          {{- totalCompare | money -}}
        </span>
      </div>

    {% else %}
      <span class="font-normal">{{ totalPrice | money }}</span>
    {% endif %}
  </div>

  <span class="bundlesavings {% if showOnlyDiscount == true %} hidden {% else %} inline-flex {% endif %} {% if hideSavingsMob != true %}flex-row-reverse{% endif %} items-center gap-1 whitespace-nowrap ui-pill ui-pill--bg-blue ui-shimmer before:animate-[shimmer_1s_linear_both]">
    {% assign totalCompareMoney = totalCompare | money_without_currency %}
    {% assign totalPriceMonry = totalPrice | money_without_currency %}

    {% assign priceDiff = totalCompareMoney | minus: totalPriceMonry %}
    {% assign myDis = priceDiff | divided_by: totalCompareMoney | times: 100 | round: 0 %}

    {% if hideSavingsMob == true %}
      <span> <span class="max-sm:hidden"></span></span>
    {% else -%}
    {%- endif %}
    {% if showPerc != false -%}
      {%- if totalCompare > totalPrice %}
        {{ myDis }}% OFF
      {% endif %}
    {% endif %}
  </span>
</div>
