{% comment %}
<aside
  data-modaltrigger="email_signup"
  class="cursor-pointer md:border md:border-blue-1 md:px-4 md:py-2 lg:px-6 md:min-h-[40px] lg:min-h-[56px] flex flex-col md:flex-row-reverse justify-between items-center max-md:space-y-5"
>
  <div class="font-semibold max-md:btn-small max-md:btn-secondary shrink-0"><button class="klaviyo_form_trigger">Sign Up</button></div>
  <div class="wysiwyg max-md:w-10/12 max-md:text-center">{{ text }}</div>
</aside>
{% endcomment %}
<div class="font-semibold max-md:btn-small max-md:btn-secondary shrink-0"><button class="klaviyo_form_trigger">Sign Up</button></div>