<div class="loading-overlay__spinner absolute z-10 m-3 {% if show == true %}!block{% else%}hidden{% endif %}">
  <svg
    aria-hidden="true"
    focusable="false"
    class="spinner"
    viewBox="0 0 66 66"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle class="path !stroke-blue-1" fill="none" stroke-width="4" cx="33" cy="33" r="30"></circle>
  </svg>
</div>
