<section class="text-[10px] lg:text-[11px]">
  <div class="footer-copyright container container-sm">
    <div class="lg:py-4 lg:gap-3 flex lg:grid lg:grid-cols-3 max-lg:flex-col justify-between [&_.sec]:max-lg:border-t [&_.sec]:border-secondary-blue-50 [&_.sec]:max-lg:py-5 max-lg:text-center lg:border-t border-secondary-blue-50">
      {% if section.settings.terms_links != blank %}
        <ul class="border-top-0 sec col-span-1 flex md:gap-5 lg:gap-10 max-lg:justify-between max-lg:order-2 whitespace-nowrap">
          {% for link in linklists[section.settings.terms_links].links %}
            <li class="text-[12px] sm:text-sm">
              <a class="animated-underline" href="{{link.url}}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <div class="text-[12px] sm:text-sm lg:col-span-2 lg:flex flex-wrap gap-3">
        <p class="sec max-lg:hidden lg:text-right lg:ml-auto">{{ section.settings.copyright }}</p>
      </div>

      <p class="text-[12px] sm:text-sm sec lg:hidden max-lg:order-3">{{ section.settings.copyright }}</p>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Footer Terms/Copyright",

  "settings": [
    {
      "type": "link_list",
      "id": "terms_links",
      "label": "Terms/Privacy Links"
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "Copyright text",
      "default": "© CHRISTY 2023. ALL RIGHTS REMOVED"
    }
  ]
}
{% endschema %}
