<div class="template-404 container flex flex-col items-center space-y-10 my-14 lg:my-28">
  <p class="s-m-h1 lg:s-d-h1">
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="m-h1 lg:d-h1">
    {{ 'templates.404.title' | t }}
  </h1>
  <a class="btn-large btn-primary" href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
