{% liquid
  assign items = section.settings.products | default: product.collections.first.products
-%}

{%- if section.settings.heading %}
  <h2 class="related-products-title text-[30px] leading-[32px] xl:text-[40px] xl:leading-[52px] text-center mb-4 lg:mb-[30px] font-sec">{{ section.settings.heading }}</h2>
{% endif -%}

{%- if items != blank %}
  <div
    id="RelatedProducts-{{ section.id }}"
    class="overflow-hidden"
  >
    <div class="container px-4 md:px-12 space-y-5 lg:space-y-8">
      {% render 'products-carousel-with-nav', products: items, products_limit: section.settings.products_limit %}
    </div>
  </div>
{% endif -%}

{%- schema %}
{
  "name": "Related Products Carousel",
  "tag": "section",
  "class": "section-related-products",
  "disabled_on": {
    "groups": ["header", "footer"],
    "templates": ["article"]
  },
  "settings": [
    {
      "type": "product_list",
      "id": "products",
      "label": "Featured Products",
      "info": "Select products to feature in this section. If you don't select any, the section will show products from the collection."
    },
    {
      "type": "number",
      "id": "products_limit",
      "label": "Product limit",
      "default": 4
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Recommended the same style"
    }
  ],
  "presets": [
    {
      "name": "Related Products Carousel"
    }
  ]
}
{%- endschema %}
